<div class="full">
  <p class="title">SUMMER BODY</p>

  <p class="text-center welcome">Üdvözöljük a Summer body oldalán!</p>
<div>


  <div class="text">
    <p>Itt a Summer body oldalán arra törekszünk, hogy az ügyfeleinknek a legkiválóbb anyagból készült fürdőruhákat juttassunkel.</p>
    <p>A legfiatalabb kezdve a legidősebbik minden korosztályt kielégítünk.</p>
    <p>Mint a Summer body vezetői és munkatársai a fürdőruhagyártás területén ugyanazokat az elveket valljuk: pontosság, megbízhatóság, eredményesség.</p>
    <p>Többek között ez teszi lehetővé, hogy a hazai piacon két évtizede sikeresen működünk.</p>
    <p>Fürdőruháink széles választékával, igényességével és minőségével méltán vívtuk ki ügyfeleink megelégedettségét az évek során.</p>
    <p> Vállalkozásunk legfőbb törekvése, hogy termékeinkkel a társadalom minden korosztályának megfelelő, magas minőségű, mindig az aktuális divathoz igazodó, megfizethető fürdőruhákat tervezzünk és gyártsunk.</p>
    <p>E célkitűzés sikeres teljesítésének egyik kulcsa, hogy külföldi kiállításokon bemutatott neves olasz és spanyol gyártóktól származó alapanyagok kerülnek felhasználásra.</p>
  </div>
  <div class="img">
    <img style="width: 60%" src ="../../assets/my-summer-body.png">
  </div>
</div>
</div>
